body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #fffaf0;
}

.main { flex: 1; }

.sidebar {
  width: 200px;
  padding: 20px;
  height: 100vh;
  background-color: #f0f8ff;
}

.sidebar h2 { margin-top: 0; }
.sidebar ul { list-style: none; padding: 0; }

.sidebar ul li {
  padding: 8px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar ul li:hover { background-color: #ddd; }

.header {
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

.header h3 {
  margin: 5px 0 0 0;
  font-size: 1.2em;
  color: #555;
}

.logo {
  height: 75px;
  margin-bottom: 10px;
}

.content p {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: 0;
  color: #555;
}

.footer p {
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  color: #555;
}

.semesters span {
  padding: 8px 12px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.semesters span:hover { background-color: #ddd; }

.active {
  background-color: #ccc;
  color: #191970;
  pointer-events: none;
}

.semester-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.semester-content iframe {
  width: 80%;
  height: 500px;
  border: none;
}